body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f0f8ff;
}
.container {
    padding: 20px;
}
#pet-image {
    width: 200px;
    height: auto;
}
.buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}